mixin lorem
  | Jazz on aina ollut luonteeltaan vapaa sielu. Se on innoittanut ihmisiä tanssimaan, rakastamaan ja <em>"kirjoittamaan runoja"</em>. Muun muassa. Toisaalta <a href="#">sillä on</a> ollut myös sääntönsä tai pikemminkin edellytyksensä ja kehyksensä. 

.hero.invert
  .contain
    h4
      a(href="#") historiikki
    h1 1960-luku
    p.lede
      +lorem
.contain.narrow
  p.dropcap
    +lorem
  hr.sectionbreak
  p
    +lorem
  
  figure
    img(src="https://dl.dropboxusercontent.com/u/8254962/rytmi2.jpg")
    figcaption
      | Jazz on aina ollut luonteeltaan vapaa sielu. Se on innoittanut ihmisiä tanssimaan.
  
  h2 Jazz ennen Jazzliittoa
  p
    +lorem
  h3 Jazz ennen Jazzliittoa laadilaa laa laaaaaadi la laaa
  p
    +lorem
    
  h4 Jazz ennen Jazzliittoa laadilaa laa laaaaaadi la laaa
  p
    +lorem